.header-logo {
    height: 70px;
}
.nav-link-custom {
    text-decoration: none;
    color: #6c757d;
    font-size: 14px;
    font-weight: 500;
}
.search-wrapper input {
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    font-size: 14px;
}
.hero-padding {
    padding: 80px 0;
}
.hero-image-size {
    width: 1000px;
}
.subscribe-container {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    max-width: 450px;
}
.email-input-group {
    flex-grow: 1;
    border-bottom: 2px solid #a569bd;
}
.custom-input {
    border: none;
    width: 100%;
    outline: none;
    padding: 5px 0;
    font-size: 16px;
}
.btn-subscribe {
    border: 1.5px solid #a569bd;
    background: white;
    color: #a569bd;
    padding: 8px 20px;
    border-radius: 6px;
    font-weight: 600;
    white-space: nowrap;
}
.feature-icon img {
    height: 120px;
    width: auto;
    opacity: 0.8;
}
.course-card {
    background: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 20px;
    padding: 35px 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.03);
    height: 100%;
    width: 300px;
}
.btn-outline-purple, .btn-outline-green {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 12px;
}
.btn-outline-purple {
    border: 1px solid #dba4d8;
    color: #a569bd;
}
.btn-outline-green {
    border: 1px solid #a0dca0;
    color: #2ecc71;
    margin-bottom: 0;
}